.page-container {
  background-color: #0D0D0D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px; 
  padding-bottom: 20px;
}

.carousel-half {
  width: 50%;
  margin: 2% auto;
}

.carousel-half .carousel-inner {
  height: 100%;
}

.carousel-half .carousel-item {
  width: 100%;
}

.carousel-half .carousel-item img {
  max-height: 100%;
  object-fit: cover;
}

.carousel-half .carousel-control-prev,
.carousel-half .carousel-control-next {
  width: 5%;
}

.texto-arriba {
  text-align: center;
  margin-top: 20px;
  color: #F2F2F2;
  font-family: "Roboto", sans-serif;
  font-size: 450%; 
}

@media (max-width: 576px) {
  .page-container {
    padding-top: 0 ; 
    padding-bottom: 0 ; 
  }
  
  .carousel-half {
    width: 100%;
    margin: 0 auto 15px;
  }

  .carousel-half .carousel-inner {
    height: auto;
  }

  .texto-arriba {
    font-size: 250% ;
    margin-bottom: 0px;
  }
}
