.page-container {
  background-color: #0D0D0D;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: 2% auto;
  background-color: white;
  color: #0D0D0D;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
}

.instagram-link {
  color: #C13584;
  font-size: 24px;
  text-decoration: none;
}

.instagram-link:hover {
  text-decoration: underline;
}

.instagram-link-external {
  color: #C13584;
  text-decoration: none;
}

.instagram-link-external:hover {
  text-decoration: underline;
}
