.page-container {
    background-color: #000000;
    padding: 20px;
  }
  
  .card {
    max-width: 500px;
    margin: 0 auto;
    background-color: #F2F2F2;
    border: none;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .author-link {
    color: #0D0D0D;
    font-size: 18px;
    text-decoration: none;
  }
  
  .instagram-link {
    color: #E1306C;
    font-size: 24px;
  }
  
  a {
    color: #0D0D0D;
    text-decoration: none;
  }
  
  a:hover {
    color: #833AB4;
  }
  