<div class="page-container">
  <div class="card">
    <img [src]="image.urls.regular" [alt]="image.alt_description" class="card-img">
    <div class="card-body">
      <h5 class="card-title">{{ image.title }}</h5>
      <p class="card-text text-center"><a [routerLink]="['/user', image.user.username]" class="instagram-link">{{ image.user.name }}</a></p>
      <p class="card-text text-center"><strong>Fecha de creación:</strong> {{ image.created_at | date }}</p>
      <p class="card-text text-center">
        <strong>Instagram: </strong>
        <ng-container *ngIf="image.user.instagram_username">
          <a [href]="'https://www.instagram.com/' + image.user.instagram_username" target="_blank" class="instagram-link-external">{{ image.user.instagram_username }}</a>
        </ng-container>
        <ng-container *ngIf="!image.user.instagram_username">No tiene Instagram</ng-container>
      </p>
    </div>
  </div>
</div>
