.gallery {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }
  
  .column {
    flex-basis: calc(33.33% - 30px);
    margin: 0 15px;
  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  